<?xml version="1.0"?>

<model>
  <name>ingenuity_with_camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Daniel Betco</name>
  </author>

  <description>
    A modified version of a Ingenuity ( NASA's helicopter )

    added a camera
  </description>
</model>
